#root {
  margin: 0;
  padding: 0;
}

.customBoxShadow {
  box-shadow: 6px 6px 4px 2px rgba(0, 0, 0, 0.25);
}
.customBoxShadow:hover {
  box-shadow: none;
}
.table-header-font {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.table-data-font {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.input-form {
  width: 200px !important;
  height: 24.939px !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service-add-new-line {
  height: 2px;
  background-color: #0072bc;
  flex: 85%;
  margin-left: 30px;
  margin-right: 4%;
}

.service-add-new-container {
  padding: 20px 20px 20px 0px;
  /* padding-left: 50px; */

  display: flex;
  flex-direction: row;

  /* justify-content: center; */
  align-items: center;
}

.active-bg {
  background-color: #0072bc;
  color: white;
  /* border: 2px solid black; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.fade-in-out {
  animation: fadeinout 0.5s ease infinite alternate-reverse;
}
@keyframes fadeinout {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
